/******************* hero ******************/
.hero .backgroundVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    background-attachment: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
  }
  
  .hero .video-overlay {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    background-attachment: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.4);
  }
  
  .hero h1, h2 {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 6rem;
    margin-top: 30vh;
  }
  
  .hero h2 { font-size: 3rem; }
  
  .hero h3 {
      color: white;
      text-align: center;
      font-weight: lighter;
      margin-top: 5rem;
  }
  
  .hero h3 span{
      border: 3px solid white;
      border-radius: 10px;
      font-size: 2rem;
  }
  
  .hero h3 span a {
      margin: 20px;
      color: white;
  }
  
  .hero h3 span:hover a {
      color: black;
  }
  
  .hero h3 span:hover {
      background: white;
  }
  
  @media (max-width:800px)
  {
      .hero h1{
          font-size: 4rem;
      }
  }
  
  @media (max-width:500px)
  {
      .hero h1{
          font-size: 2rem;
      }
      .hero h2{
          font-size: 1.5rem;
      }
      .hero h3 span{
          font-size: 1rem;
      }
  }